<%- include('../partials/head') %>

<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- FIN HEADER -->

    <!-- Submenú de categorías de productos -->
    <section class="product__category">
        <article>
           <a href="/products/search">CATEGORÍA</a>
        </article>
        
        <article>
            >
        </article>

        <article>
            <a href="/products/search">SUBCATEGORÍA</a>
        </article>

    </section>

    <!-- Comienza main content para @media con más width  -->
    <div class="product__main__content">

        <!-- Imágenes de producto, clickeables para agrandar -->
        <div class="product__left__column">

<!-- Carrusel de imágenes con CSS -->
                <div class="wrap">
                    <div class="wrap2">
                      <div class="group">
                        <input type="radio" name="test" id="0" value="0" checked>
                        <label for="2" class="previous">
                            <!-- <img src="/images/img/arrowleft.png" alt="Previous"> -->
                        </label>
                        <label for="1" class="next">
                            <!-- <img src="/images/img/arrowright.png" alt="Next"> -->
                        </label>
                        <div class="content">
                          
                          <img class="slide__image" src="/images/products/<%= product.images %>" alt="Imagen1">
                        </div>
                      </div>
                      <div class="group">
                        <input type="radio" name="test" id="1" value="1">
                        <label for="0" class="previous">
                            <img src="/images/img/arrowleft.png" alt="Previous">
                        </label>
                        <label for="2" class="next">
                            <img src="/images/img/arrowright.png" alt="Next">
                        </label>
                        <div class="content">
                          
                          <img class="slide__image" src="/images/img/product002.jpg" alt="Imagen2">
                        </div>
                      </div>
                      <div class="group">
                        <input type="radio" name="test" id="2" value="2">
                        <label for="1" class="previous">
                            <img src="/images/img/arrowleft.png" alt="Previous">
                        </label>
                        <label for="0" class="next">
                            <img src="/images/img/arrowright.png" alt="Next">
                        </label>
                        <div class="content">
                          
                          <img class="slide__image" src="/images/img/product003.jpg" alt="Imagen3">
                        </div>
                      </div>
                      <!-- FIN CARRUSEL DE IMAGENES -->
                      
                    </div>
                  </div>
            

                <!-- Tiempos y costos de envío, imagen clickeable a página informativa -->
                <div class="product__shipping__info">
                    <a href="">TIEMPOS Y COSTOS DE ENVÍO</a>            
                </div>
        </div>

        <div class="product__right__column">


        <!-- Puntuación del producto -->
        <section class="product__ranking">
            <!-- Estrellas clickeables para dar puntuación -->
                <a href=""><img src="/images/img/star_filled.png" alt="Star1"></a>
                <a href=""><img src="/images/img/star_filled.png" alt="Star2"></a>
                <a href=""><img src="/images/img/star_filled.png" alt="Star3"></a>
                <a href=""><img src="/images/img/star_empty.png" alt="Star4"></a>
                <a href=""><img src="/images/img/star_empty.png" alt="Star5"></a>
                <p>(00 Puntos)</p>
        </section>

        <!-- Form para comprar producto -->
        <form class="product__buy__form" action="/products/cart" method="GET">
                
        <div class="product__row__setter">
            <h1 class="product__name"><%= product.name %></h1>
            <p class="product__price">$ <%= product.price %></p>
        </div>

        <div class="product__row__setter">
           <label for="nroCantidad">Cantidad: </label>
           <input class="product__amount__input" type="number" id="nroCantidad" name="nroCantidad" value="0" min="0" max="24" autofocus required>
        </div>

        <div class="product__row__setter">
          <button class= "product__add__button" type="submit">AGREGAR AL CARRITO</button>
          <a class="product__add__fav" href=""><img src="/images/img/heart__filled.png" alt="Favorito"></a>            
        </div>
        
        <div class="product__row__setter">
        <button type="submit" class="product__buynow__button">COMPRAR AHORA</button>
        </div>

        </form>
        
                
        <!-- Descripción del producto -->
        <section class="product__info">
            <p>Información del producto: <%= product.info %></p>
        </section>
    <!-- Se cierra div de second column -->
    </div>
    

    <!-- Se cierra div de main content -->
    </div> 
    

    <!-- Valoraciones de los clientes -->
    <div class="product__user__scores">
        <p>Puntuación de los clientes</p>
        <!-- Puntuación promedio en imágenes (estrellas) -->
        <article class="product__user__stars">
            <img src="/images/img/star_filled.png" alt="Star1">
            <img src="/images/img/star_filled.png" alt="Star2">
            <img src="/images/img/star_filled.png" alt="Star3">
            <img src="/images/img/star_empty.png" alt="Star4">
            <img src="/images/img/star_empty.png" alt="Star5">
        </article>
        
        <section class="product__user__reviews">
        <!-- Opiniones de clientes que ya compraron el producto -->
        <article>
            <p>Opinión del cliente 1: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt sit magnam omnis provident quasi amet assumenda saepe repudiandae repellat dolorem necessitatibus tempore rem, ratione dolorum reiciendis dolor veniam ab officiis?</p>
        </article>
        <article>
        <p>Opinión del cliente 2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ad reprehenderit ab ducimus sed culpa aliquam ullam quas facilis accusantium? Quaerat voluptatum facere repellendus iure iusto veniam natus quo dolores.</p>
        </article>
        </section>
    </div>

    <!-- Dejo vacío el footer para hacer copy paste de lo que arme Santi -->
    <%- include('../partials/footer') %>
</body>
</html>