<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>

<!-- Formulario alta producto -->
<div class="edit__form__container">


    <!-- VER MIDDLEWARE VALIDATOR -->
<!-- ----------------------------------------------------------revisar nuevo cidigo de pachi----------------------------- -->
    <p class="edit__form__title">EDITAR PRODUCTO</p>
    <form class="edit__form" action="/products/<%=Number(prodEdit.id)%>?_method=PUT" method="POST"  id="editProductForm" enctype="multipart/form-data">
        
        <select name="id_category" id="category" class="edit__form__item" required>
        <option value="1">Categoría</option>
        
        <%categoria.forEach(categori=>{ %>
            <%if(prodEdit.subcategory.id_category == categori.id){%>
                <option value="<%=categori.id%>" selected> <%=categori.name%></option>
            <% } else{ %>
                <option value="<%=categori.id%>"> <%=categori.name%></option>
            <%  } %>
        <% }) %>
        </select>

        <select name="id_subcategory" id="subcat" class="edit__form__item" required>
        <option value= "1">Subcategoría</option>
        
        <%subcategoria.forEach(subCat=>{ %>
            <%if(prodEdit.id_subcategory == subCat.id){%>
                <option value="<%=subCat.id%>" selected> <%=subCat.name%></option>
            <% } else{ %>
                <option value="<%=subCat.id%>"> <%=subCat.name%></option>
            <%  } %>
        <% }) %>
        </select>

        <div></div>

        <select name="id_size" id="size" class="edit__form__item" required>
        <option value="1">Tamaño</option>
        
        <%size.forEach(tamaño=>{ %>
            <%if(prodEdit.id_size == tamaño.id){%>
               <option value="<%=tamaño.id%>" selected> <%=tamaño.value%></option>
            <% } else{ %>
                <option value="<%=tamaño.id%>"> <%=tamaño.value%></option>
            <%  } %>
        <% }) %>
         
        </select>        
     <!-------------------------------------fin codigo nuevo de pachi ver--------------------------- -->
    
    <!----------------PACHI MODIFICACION DE LOS 3 VALUE, Y LAS IMAGES----------------------->

        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" placeholder="Ingrese el nombre del producto" minlength="5" maxlength="30" class="edit__form__item" value="<%= prodEdit.name %>">
        
        <label for="info">Información:</label>
        <textarea name="info" id="info" placeholder="Ingrese descripción del producto" cols="1" minlength="5" maxlength="300" class="edit__form__item"><%= prodEdit.info %></textarea>
        
        <label for="price">Precio:</label>
        <input type="number" name="price" id="price" min="1" placeholder="Ingrese el precio del producto" class="edit__form__item" value=<%= prodEdit.price %>>
        
        <label for="file">Imágenes:</label>
        
        <div class="edit__form__load__images">
                <article class="edit__form__product__img">
                    <a target="_blank" href="/images/products/<%= prodEdit.image %>"><img src="/images/products/<%= prodEdit.image %>" alt="Imagen1"></a>
                    <!-- <button type="button" title="Eliminar imagen">x</button> -->
                </article>
                <!-- <article class="edit__form__product__img">
                    <a target="_blank" href="/images/img/product002.jpg"><img src="/images/img/product002.jpg" alt="Imagen2"></a>
                    <button type="button" title="Eliminar imagen">x</button>
                </article>
                <article class="edit__form__product__img">
                    <a target="_blank" href="/images/img/product003.jpg"><img src="/images/img/product003.jpg" alt="Imagen3"></a>
                    <button type="button" title="Eliminar imagen">x</button>
                </article> -->
        </div>
        <div>
        </div>
        <input type="file" name="images" id="images">
    </form>

    <div class="edit__form__button__container">
    <button type="submit" value="submit" class="edit__form__button" form="editProductForm">EDITAR PRODUCTO</button>
    </div>
    
    <form action="/products/<%=prodEdit.id%>?_method=DELETE" method="POST"  id="deleteProduct">
    <div class="edit__form__button__container">
    <button type="submit" value="submit" class="edit__form__delete__button">ELIMINAR PRODUCTO</button>
    </div>
    </form>

</div>
<!-- Fin de formulario alta producto -->

<%- include('../partials/footer') %>

</body>
</html>