<%- include('../partials/head') %>

<!-- JS FRONT DE BUSCADOR POR CATEGORIAS -->
<script src="/js/subcategorysearch.js" defer></script>
<script src="/js/addToCart.js" defer></script>
<!-- CONVERSION DE TABLAS DE BASE DE DATOS PARA PODER SER USADAS EN JSFRONT -->
<script type="text/javascript" defer>
    let categories = '<%-JSON.stringify(categories)%>'
    let subcategories = '<%-JSON.stringify(subcategories)%>';
</script>

<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %>
    
    <!-- FIN HEADER -->

    
        
    <!-- Submenú de categorías de productos -->
        <section class="productSearch__category">
            <article>
                <select id="select-category">
                    <option value="">CATEGORÍA</option>
                    <% categories.forEach(cat => { %>
                        <option value="<%=cat.id%>"><%=cat.name%></option>
                    <% }) %>
                </select>
            </article>    

    <!-- Submenu de Subcategorias oculto hasta que se selecciona una categoria -->
            <article>
                <form  id="subcatsearch" name="subcatsearch" action="/products" method="POST">
                <select name="query" id="select-subcat">
                    <option value="">SUBCATEGORÍA</option>
                </select>
                </form>       
            </article>
        
            <article><a href="/products/create"><button type="button" id="login-cuenta-button" style="cursor: pointer; font-size: 1em; margin-left: 0px">AGREGAR PRODUCTO</button></a></article>
        
        </section>
        
    <!-- Informacion buscada si se usó el buscador del header o de subcategorias -->

        <% if (typeof query != "undefined") { %>
     
            <section class="productSearch__category">
                <article>
                    <%=query%>
                </article>
            </section>
        <% } %>


    <!-- Comienza main content -->
    <div class="productSearch__main__content">

        <!-- Productos buscados -->
        <div class="productSearch__product__grid">
            
            <% products.forEach(product => { %>
            <article class="productSearch__single__product">
                <a href="/products/<%= product.id %>"><img src="/images/products/<%= product.image %>" alt="<%=product.name%>"></a>
                <a href="/products/<%= product.id %>" class="productSearch__name"><h1><%= product.name %> <%=product.size.value%></h1></a>
                <p class="productSearch__price">$ <%= product.price %></p>
              
                <form action="/products/cart" method="POST" class="addToCart">
                    <input type="hidden" value="<%= product.id %>" name="id">
                    <input type="hidden" value="<%= product.name %>" name="name">
                    <input type="hidden" value="<%= product.image %>" name="image">
                    <input type="hidden" value="<%= product.price %>" name="price">
                    <input type="hidden" value="<%= product.size.value %>" name="size">
                    <input type="hidden" value="1" name="quantity">
                    <button type="submit">COMPRAR</button>
                </form>
            </article>
        <% }) %>

        </div>

    </div>
    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- Fin footer -->
</body>
</html>