<%- include('../partials/head') %>

<body>
<%- include('../partials/header') %>

<!-- Formulario alta producto -->
<div class="create__form__container">

    <p class="create__form__title">ALTA NUEVO PRODUCTO</p>
    <form class="create__form" action="/products/create" method="POST"  id="createProductForm" enctype="multipart/form-data">
        
        <select name="id_category" id="category" class="create__form__item">

            <option value ="1">Categoría</option>
              <%  category.forEach(categorias=>{%>
                 <option value="<%categorias.id%>"><%=categorias.name%>  
                 </option>
                <%})%>
        
            
        </select>
        <select name="id_subcategory" id="subcat" class="create__form__item">
            <option value= "1">Subcategoría</option>
             <% subcategory.forEach(subcategoria=>{ %>
            <option value= "<%=subcategoria.id%>"> <%=subcategoria.name%>
            </option>       
            <% }) %>
        </select>

        <select name="id_size" id="size" class="create__form__item">
            <option value ="1">Tamaño</option>
            <% capacidad.forEach(tamaño=>{ %>
                <option value="<%=tamaño.id%>"><%=tamaño.value%>
                </option>
        <%   })   %>
        </select>
        <div></div>
        
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" placeholder="Ingrese el nombre del producto" minlength="5" maxlength="30" class="create__form__item">
        
        <label for="info">Información:</label>
        <textarea name="info" id="info" placeholder="Ingrese descripción del producto" rows="3" cols="1" minlength="5" maxlength="300" class="create__form__item"></textarea>
        
        <label for="price">Precio:</label>
        <input type="number" name="price" id="price" min="1" placeholder="Ingrese el precio del producto" class="create__form__item">
        
        <label for="file">Imágenes:</label>
        <input type="file" name="image" id="image" multiple>

        
    </form>
    <div class="create__form__button__container">
    <button type="submit" value="submit" class="create__form__button" form="createProductForm">CREAR PRODUCTO</button>
    </div>
</div>
<!-- Fin de formulario alta producto -->

<%- include('../partials/footer') %>

</body>
</html>