<%- include('../partials/head') %>
<body>
    
    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- FIN HEADER -->

    
    <% if (typeof query != "undefined") { %>
     
        <section class="productSearch__category">
            <article>
                <%=query%>
            </article>
        </section>
    <% } %>
    <!-- Submenú de categorías de productos -->
        <section class="productSearch__category">
            <article>
                <select>
                    <option>CATEGORÍA</option>
                </select>
                <!-- <a href="/products/">CATEGORÍA</a> -->
            </article>    

            <article>
                >
            </article>

            <article>
                <select>
                    <option>SUBCATEGORÍA</option>
                </select>
                <!-- <a href="/products/">SUBCATEGORÍA</a> -->
            </article>

        </section>
    

    <!-- Comienza main content -->
    <div class="productSearch__main__content">

        <!-- Productos buscados -->
        <div class="productSearch__product__grid">
            
            <% products.forEach(product => { %>
            <article class="productSearch__single__product">
                <a href="/products/<%= product.id %>"><img src="/images/products/<%= product.image %>" alt="<%=product.name%>"></a>
                <a href="/products/<%= product.id %>" class="productSearch__name"><h1><%= product.name %></h1></a>
                <p class="productSearch__price">$ <%= product.price %></p>
                <form action="/products/cart" method="GET">
                <button type="submit">COMPRAR</button>
                </form>
            </article>
        <% }) %>

        </div>

    </div>
    <!-- Dejo vacío el footer para hacer copy paste de lo que arme Santi -->
    <%- include('../partials/footer') %>
</body>
</html>