<%- include('../partials/head') %>

<!-- JS FRONT DE BUSCADOR POR CATEGORIAS -->
<script src="/js/select-subcategory.js" defer></script>
<!-- CONVERSION DE TABLAS DE BASE DE DATOS PARA PODER SER USADAS EN JSFRONT -->
<script type="text/javascript" defer>
    let subcategories = '<%-JSON.stringify(subcategoria)%>';
</script>

<body>
<%- include('../partials/header') %>

<!-- Formulario alta producto -->
<div class="edit__form__container">

        <% if(typeof errors != "undefined") { %>
            <% errors.forEach(error => { %>
                <p class="create__form__title" style="color: orangered;"><%= error.msg %></p> 
            <% }) %> 
        <% } %>


    <p class="edit__form__title">EDITAR PRODUCTO</p>
    <form class="edit__form" action="/products/<%=Number(prodEdit.id)%>?_method=PUT" method="POST"  id="editProductForm" enctype="multipart/form-data">
        
        <select name="id_category" id="category" class="edit__form__item">
        <option value="">Categoría</option>
        
        <%categoria.forEach(categori=>{ %>
            <%if(prodEdit.subcategory.id_category == categori.id){%>
                <option value="<%=categori.id%>" selected> <%=categori.name%></option>
            <% } else{ %>
                <option value="<%=categori.id%>"> <%=categori.name%></option>
            <%  } %>
        <% }) %>
        </select>

        <select name="id_subcategory" id="subcat" class="edit__form__item">
        <option value="">Subcategoría</option>
        
        <%subcategoria.forEach(subCat=>{ %>
            <%if(prodEdit.id_subcategory == subCat.id){%>
                <option value="<%=subCat.id%>" selected> <%=subCat.name%></option>
            <% } else if (prodEdit.subcategory.id_category == subCat.id_category){ %>
                <option value="<%=subCat.id%>"> <%=subCat.name%></option>
            <%  } %>
        <% }) %>
        </select>

        <div></div>

        <select name="id_size" id="size" class="edit__form__item">
        <option value="">Tamaño</option>
        
        <%size.forEach(tamaño=>{ %>
            <%if(prodEdit.id_size == tamaño.id){%>
               <option value="<%=tamaño.id%>" selected> <%=tamaño.value%></option>
            <% } else{ %>
                <option value="<%=tamaño.id%>"> <%=tamaño.value%></option>
            <%  } %>
        <% }) %>
         
        </select>        
     

        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" placeholder="Ingrese el nombre del producto" class="edit__form__item" value="<%= prodEdit.name %>">
        
        <label for="info">Información:</label>
        <textarea name="info" id="info" placeholder="Ingrese descripción del producto" cols="1" class="edit__form__item"><%= prodEdit.info %></textarea>
        
        <label for="price">Precio:</label>
        <input type="number" name="price" id="price" class="edit__form__item" value=<%= prodEdit.price %>>
        
        <label for="file">Imagen:</label>
        
        <div class="edit__form__load__images">
                <article class="edit__form__product__img">
                    <a target="_blank" href="/images/products/<%= prodEdit.image %>"><img src="/images/products/<%= prodEdit.image %>" alt="Imagen1"></a>
                    <!-- <button type="button" title="Eliminar imagen">x</button> -->
                </article>
                <!-- <article class="edit__form__product__img">
                    <a target="_blank" href="/images/img/product002.jpg"><img src="/images/img/product002.jpg" alt="Imagen2"></a>
                    <button type="button" title="Eliminar imagen">x</button>
                </article>
                <article class="edit__form__product__img">
                    <a target="_blank" href="/images/img/product003.jpg"><img src="/images/img/product003.jpg" alt="Imagen3"></a>
                    <button type="button" title="Eliminar imagen">x</button>
                </article> -->
        </div>
        <div>
        </div>
        <input type="file" name="image" id="image">
    </form>

    <div class="edit__form__button__container">
    <button type="submit" value="submit" class="edit__form__button" form="editProductForm">EDITAR PRODUCTO</button>
    </div>
    
    <form action="/products/<%=prodEdit.id%>?_method=DELETE" method="POST"  id="deleteProduct">
        <div class="edit__form__button__container">
            <button type="submit" value="submit" class="edit__form__delete__button">ELIMINAR PRODUCTO</button>
        </div>
    </form>

</div>
<!-- Fin de formulario alta producto -->

<%- include('../partials/footer') %>

</body>
</html>