<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    
            <div class="login-app-container">
                <section class="login-section-img"><!--------------------IMAGEN--------------------------->
                    <article class="login-section-article-img">
                        <img src="\images\img\login_beer.jpg" alt="beer" id="login-img-beer">
                    </article>
                </section>

                <main class="login-main">

                        <div class="login-cuenta"><!-----------------CREAR------------------------>
                    
                            <p>¿No tiene cuenta?</p>
                            <form action="/users/register" method="GET">
                            <button type="submit" id="login-cuenta-button">CREAR</button>
                            </form>

                    </div>

                        <section class="login-section-usuario"><!--------USUARIO / CONTRASEÑA / LOGIN----------->
                            <article class="login-section-article-usuario">
                                <form action="/users/login" method="POST" class="login-form">
                                    <div>
                                        <% if (typeof error != "undefined") {%>
                                            <p class="login-errors"><%= error %></p>
                                        <%}%>
                                    </div>
                                    <label for="email">EMAIL</label>
                                    <input autofocus class="login-input" type="email" name="email" id="email" placeholder="Ingrese su email" <%if (typeof usuarioMail != "undefined"){%> value="<%=usuarioMail%>"
                                    <%}%>>
                                    
                                    <label for="password">CONTRASEÑA</label>
                                    <input class="login-input" type="password" name="password" id="password" >

                                    <div class="checkbox-container">
                                        <input type="checkbox" name="recordame" id="recordame">Recordarme
                                    </div>

                                    <button class="login-form-button" type="submit">LOGIN</button>
                                    <p>Si olvido su contraseña. <a href="" id="login-form-a">Click Aquí.</a></p>
                                </form>
                            </article>
                        </section>
                    

                        <section class="login-section-redes">   <!--------REDES SOCIALES PARA AUNTENTICAR----------->
                            <article class="login-article-redes">
                                <a href=""><i class="fab fa-google fa-lg login-icon"></i></a>
                                <a href=""><i class="fab fa-facebook-f fa-lg login-icon"></i></a>
                                <a href=""><i class="fab fa-instagram fa-lg login-icon"></i></a>
                            </article>
                        </section>
                    </main>
                    </div>

    <%- include('../partials/footer') %>  
    
</body>
</html>