<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
    
        <div class="registerForm-app-container">
            <section class="registerForm-section-img">
                <article class="registerForm-article-img">
                    <img src="/images/img/registerForm_beer2.jpg" alt="cerveza" id="registerForm-img"> <!----IMAGEN------------->
                </article>
            </section>

            <main class="registerForm-main">
                

                <section class="registerForm-main">
                    <div class="registerForm-section">
                        <div class="registerForm-article">
                            <!-- <a href=""><i class="fab fa-facebook-square fa-2x registerForm-fb"></i></a>
                            <button class="registerForm-button-fb">Registrarse con Facebook</button> -->
                            <p>REGISTRAR NUEVO USUARIO</p>
                        
                    <article class="registerForm-article">
                       
                        <!--------------FORMULARIO------------->
                        <form action="/users/register" method="POST" id="registerForm" name="registerForm">
                            <% if (typeof errorMsg != "undefined") { %>
                                <p style="color: orangered"><%=errorMsg%></p>

                            <% } %> 

                            <% if(typeof errors != "undefined") { %>
                                <% errors.forEach(error => { %>
                                    <p style="color: orangered"><%= error.msg %></p>
                                <% }) %>
                            <% } %>

                            <!-- <p id="registerForm-p"> Registrarse con dirección de email</p> -->
                            <input type="text" name="first_name" id="first_name" placeholder="Nombre" class="registerForm-input" <% if (typeof datosLlenos != "undefined"){ %>value="<%=datosLlenos.first_name%>"<%}%>>

                            <input type="text" name="last_name" id="last_name" placeholder="Apellido" class="registerForm-input" <% if (typeof datosLlenos != "undefined"){ %>value="<%=datosLlenos.last_name%>"<%}%>>

                            
                            <input type="email" name="email" id="email" placeholder="Email" class="registerForm-input" <% if (typeof datosLlenos != "undefined"){ %>value="<%=datosLlenos.email%>"<%}%>>
                            

                            <label for="birthdate">FECHA DE NACIMIENTO</label>
                            <input type="date" name="birthdate" id="birthdate" class="registerForm-input" <% if (typeof datosLlenos != "undefined"){ %>value="<%=datosLlenos.birthdate%>"<%}%>>

                            <input type="text" name="address" id="address" placeholder="Domicilio" class="registerForm-input" <% if (typeof datosLlenos != "undefined"){ %>value="<%=datosLlenos.address%>"<%}%>>

                            <label for="password">CONTRASEÑA</label>
                            <input class="registerForm-input" type="password" name="password" id="password">
                            
                            <label for="repassword">REPETIR CONTRASEÑA</label>
                            <input class="registerForm-input" type="password" name="repassword" id="repassword">
                            <button class="registerForm-button" type="submit">CONFIRMAR</button>
                            </form>
                            
                            
                                <!-- <article class="registerForm-article">
                                    <div class="registerForm-section">
                                    
                                    </div>
                                </article>
                             -->
                            

                            
                            
                        
                    </article>
                </section>
            </main>
        </div>

        <%- include('../partials/footer') %>
</body>
</html>