<%- include('../partials/head') %>

<body>
<%- include('../partials/header') %>

<!-- Información del usuario -->
<div class="userDetail-container">

    <p>INFORMACIÓN DE <%=usuario.first_name.toUpperCase() + " " + usuario.last_name.toUpperCase()%></p>
    
    <section class="userDetail-article">
        <img src="/images/users/<%=usuario.image%>">
        <p>EMAIL: <%=usuario.email%></p>
        <p>FECHA DE NACIMIENTO: <%=usuario.birthdate%></p>
        <p>DIRECCIÓN: <%=usuario.address%></p>
    </section>
    
        <article style="text-align: center;">
            <a href="/users/carts/<%=usuario.id%>">HISTORIAL DE COMPRAS</a>
        </article>
    <form action="/users/edit/<%=usuario.id%>" method="GET" id="toEditUser"></form>
    <div class="userDetail-button-container">
        <button type="submit" value="submit" class="userDetail-button" form="toEditUser">EDITAR INFORMACIÓN</button>
    </div>
    <div class="userDetail-button-container">
        <a href="/products/create"><button type="button" id="login-cuenta-button" style="cursor: pointer; font-size: 1em; ">AGREGAR PRODUCTO</button></a>
    </div>

    <div class="userDetail-button-container">
        <form action="/users/logout" method="POST">
            <button type="submit" name="logout" id="logout">LOGOUT</button>
        </form>
    </div>
    
</div>

<%- include('../partials/footer') %>

</body>
</html>